@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;600;700&display=swap');

@media screen and (max-width: 375px){
html {
    font-size: 13px;
}

body {
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
}

main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 320px;
    background: forestgreen;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 25px hsla(0, 0%, 31%, 0.308);
}

.info-box {
    box-sizing: border-box;
    /* border: solid; */
    padding: 1.8rem;
    
}

.general-info {

    background: hsl(0, 0%, 100%);
    
}

.involving-heading {
    font-weight: 700;
    font-size: 18px;
    color: hsl(179, 62%, 43%);
    margin-bottom: 1.7rem
}

.term-info {
    font-weight: 700;
    margin-top: 0;
    font-size: 14px;
    color: hsl(71, 73%, 54%);
}

.desc {
    font-weight: 400;

}

.general-desc {
    color: hsl(218, 22%, 67%);
    line-height: 1.7;
    margin-bottom: 0;
    content: "Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills." normal;
}

.subscription-info {

    
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
}

.subscription-heading {
    font-weight: 400;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1.1rem;
}

.price-per-month-desc {
    margin-top: 0px;
    display: block;
    box-sizing: border-box;
    /* text-align: center; */
    /* border: solid; */
    font-size: 29px;
    font-weight: 700;
    height: 2.6rem;
    margin-bottom: 0;

}



.price-per-what {
    position: relative;
    bottom: 0.33rem;

    font-size: 16px;
    font-weight: 200;
    margin-left: 0.4rem;
    display: inline-block;
    /* border: solid; */
    /* text-align: center; */
    line-height: 2;
}

.subscription-desc {
    margin-top: 0;
    margin-bottom: 30px;
}

.sign-up-btn {
    width: 98.5%;
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    background-color: hsl(71, 73%, 54%);
    color: hsl(0, 0%, 100%);
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 10px 10px hsla(0, 0%, 31%, 0.308);
}

.sign-up-btn:hover {
    background-color: hsl(71, 87%, 58%);
    cursor: pointer;
}

.about-us-info {
    /* grid-column-start: 3;
    grid-column-end: 5; */
    padding: 2.3rem 2.3rem 1.6rem 2.3rem;
    background-color: hsl(179, 54%, 48%);
    color: hsl(0, 0%, 100%);
}

.about-us-heading {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-us-list {
    /* border: solid; */
    list-style: none;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 200;
}

.about-us-list li {
    /* border: solid; */
    margin-left: -41px;
}

.about-us-list li:hover {
    /* border: solid; */
    cursor: pointer;
    font-weight: 700;
}

.heading {
    margin-top: 0;

}
}
@media screen and (min-width: 376px){

html{
    font-size: 16px;
}
body{
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: forestgreen;
    max-width: 650px;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0px 10px 25px hsla(0, 0%, 31%, 0.308);
}

.info-box{
  box-sizing: border-box;
  /* border: solid; */
}
.general-info{
  grid-column-start: 1;
  grid-column-end: 5;
  background: hsl(0, 0%, 100%);
  padding: 2.4rem 5rem 2.4rem 2.4rem; 
}

.involving-heading{
    font-weight: 700;
    font-size: 24px;
    color: hsl(179, 62%, 43%);
    margin-bottom: 1.7rem
}
.term-info{
    font-weight: 700;
    margin-top: 0;
    font-size: 18px;
    color: hsl(71, 73%, 54%);
}

.desc{
    font-weight: 400;
}

.general-desc{
    color: hsl(218, 22%, 67%);
    line-height: 1.7;
    margin-bottom: 0;
}

.subscription-info{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2.3rem 2.3rem 1.6rem 2.3rem;
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
}

.subscription-heading{
   font-weight: 400;
   font-size: 18px;
   color: hsl(0, 0%, 100%); 
   margin-bottom: 1.1rem;
}

.price-per-month-desc{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* text-align: center; */
    /* border: solid; */
    font-size: 29px;
    font-weight: 700;
    min-height: 2.6rem;
    margin-bottom: 0;
    

}
@media screen and (max-width:512px) {
    .price-per-month-desc {
        flex-direction: column;
    }
}


.price-per-what{
    /* position: relative; */
    bottom: 0.33rem;
    font-size: 16px;
    font-weight: 200;
    margin-left: 0.4rem;
    display: block;
    /* border: solid; */
    /* text-align: center; */
    line-height: 2;
}


.subscription-desc{
    margin-top: 0;
    margin-bottom: 30px;
}

.sign-up-btn{
    width: 98.5%;
    border: none; 
    border-radius: 5px;
    padding: 15px 0;
    background-color: hsl(71, 73%, 54%);
    color: hsl(0, 0%, 100%);
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 10px 10px hsla(0, 0%, 31%, 0.308);
}
.sign-up-btn:hover{
    background-color: hsl(71, 87%, 58%); 
    cursor: pointer;
}

.about-us-info{
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 2.3rem 2.3rem 1.6rem 2.3rem;
    background-color: hsl(179, 54%, 48%); 
    color: hsl(0, 0%, 100%);
}

.about-us-heading{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-us-list{
    /* border: solid; */
    list-style: none;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 200;
}

.about-us-list li{
    /* border: solid; */
   margin-left: -41px;
}
.about-us-list li:hover {
    /* border: solid; */
    cursor: pointer;
    font-weight: 700;
}

.heading{
    margin-top: 0;
    
}
}







